
body {
  background: white;
  margin: 0;
}
h1 {
  font-size: 50px;
}

/* Class */

section {
  width: 100;
}
section.intro * {
  width: fit-content;
  margin: auto;
}

div.inputField * {
  margin: 0;
  margin-bottom: 10px;
}